
/* footer在.vessel外, 以下是電腦螢幕和手機螢幕 */

footer.footer {
    display: flex;
    justify-content: center;
    height: 100px;
    /* max-width: 1520px; */
    /* border: 1px deeppink; */
    background-color: rgba(128, 128, 128, 0.192);
    color: #BEBEBE;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

.middele_blank {
    width: 80px;
    padding: 15px;
    color: black;
    /* border: 1px solid white; */
}

.warning {
    padding: 15px;
    /* text-align: center; */
    /* border: 1px solid white; */
}

.rights {
    padding: 15px;
    /* border: 1px solid white; */
}

@media (max-width:820px) {
    .warning {
        padding: 15px;
        /* font-size: 13px; */
    }

    .middele_blank {
        width: 90px;
        padding: 15px;
        color: transparent;
        border: 1px solid white;
    }

    .rights {
        padding: 15px;
        /* font-size: 13px; */

    }

    #featured .fboxs {
        flex: 1 0 50%;
    }
}


@media (max-width:582px) {

    footer.footer {
        width: 100%;
    }

    .warning {
        padding: 8px;
        /* font-size: 13px; */
    }

    .middele_blank {
        color: transparent;
    }

    .rights {
        padding: 8px;
        /* font-size: 13px; */
    }

}

@media (max-width:469px) {
    .warning {
        padding: 5px;
        font-size: 13px;
    }

    .middele_blank {
        width: 90px;
        padding: 6px;
        color: transparent;
        border: 1px solid white;
        font-size: 13px;
    }


    .rights {
        padding: 6px;
        font-size: 13px;
    }
}



@media (max-width:434px) {
    .warning {
        padding: 6px;
        font-size: 12px;
    }

    .middele_blank {
        width: 160px;
        padding: 0;
        color: transparent;
        border: 1px solid white;
        font-size: 13px;
    }


    .rights {
        padding: 6px;
        font-size: 12px;
    }

}

@media (max-width:344px) {




    .warning {
        margin: 0;
        padding: 0px;
        font-size: 11px;
    }

    .middele_blank {
        width: 160px;
        padding: 0;
        color: transparent;
        border: 1px solid white;
        font-size: 13px;
    }


    .rights {
        margin: 0;
        padding: 0px;
        font-size: 11px;
    }

}


/* footer在.vessel外, 以上是電腦螢幕和手機螢幕 */








/* nav在.vessel外,以下是電腦螢幕和手機螢幕 */

/* 電腦螢幕 */
nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0px;
    /* border: 1px solid red; */
    font-family: 'Abel', sans-serif;
    color: black;
    text-transform: uppercase;
    /* font-weight: bolder; */
}

.stamp {
    align-self: center;
    width: 80px;
    height: 80px;
    /* border: 1px solid blue;    */
}

.stamp>a>img {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 30px;
    z-index: 1;
}

ul.optbar {
    max-width: 1520px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0;
    height: 50px;
    border: 1px solid white;
    background-color: #BAA079;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
}

ul.optbar>li {
    list-style: none;
    border: 1px solid #d3b890;
    color: white;
    margin-left: -2px;
}

ul.optbar li:hover {
    text-decoration: none;
    background-color: #9D7200;
}

ul.optbar>li>a {
    text-decoration: none;
    color: white;
}




li.opt1 {
    position: fixed;
    left: 5px;
    padding: 10px 5px 10px 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

li.opt6 {
    position: fixed;
    right: 5px;
    padding: 10px 5px 10px 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}


li.opt2 {
    bottom: 5px;
    padding: 15px 15px 15px 15px;
    margin-right: 1px;
}

li.opt3 {
    bottom: 5px;
    padding: 15px 15px 10px 15px;
    margin-right: 1px;
}

li.opt4 {
    bottom: 5px;
    padding: 15px 15px 10px 15px;
    margin-right: 1px;
}

li.opt5 {
    bottom: 5px;
    padding: 15px 12px 15px 12px;
}

/* 電腦螢幕 */



/* 手機螢幕1 */
@media (max-width:512px) {

    nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: fixed;
        bottom: 0px;
        left: 0;
        right: 0px;
        /* border: 1px solid yellow; */
        font-family: 'Abel', sans-serif;
        color: black;
        text-transform: uppercase;
        /* font-weight: bolder; */
    }

    .stamp {
        align-self: center;
        width: 80px;
        height: 80px;
        /* border: 1px solid blue;    */
    }

    .stamp>a>img {
        width: 80px;
        height: 80px;
        position: fixed;
        bottom: 30px;
        z-index: 1;
    }

    ul.optbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        padding: 0;
        height: 50px;
        border: 1px solid white;
        background-color: #BAA079;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;

    }

    ul.optbar>li {
        list-style: none;
        border: 1px solid #d3b890;
        color: white;
        margin-left: -2px;
    }

    ul.optbar>li:hover {
        text-decoration: none;
        background-color: #9D7200;
        /* opacity: .8;   */
        /* color: black; */
    }

    ul.optbar>li>a {
        text-decoration: none;
        color: white;
    }


    li.opt2 {
        margin-right: 1px;
        padding: 13px 3px 0 3px;
    }

    li.opt3 {
        margin-right: 1px;
        padding: 13px 3px 0 3px;
    }

    li.opt4 {
        margin-right: 1px;
        padding: 13px 3px 0 3px;
    }

    li.opt5 {

        padding: 13px 3px 0 3px;
    }



    li.opt1 {

        padding: 10px 2px 10px 2px;
    }

    li.opt6 {

        padding: 10px 2px 10px 2px;
    }


    /* li.opt6{
    
        padding: 13px 0px 0px 0px;
        bottom:  1px;
    } */

}

/* @media screen and (max-width: 512px) */
/* 手機螢幕1 */



/* 手機螢幕2 */
@media (max-width:400px) {

    nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: fixed;
        bottom: 0px;
        left: 0;
        right: 0px;
        /* border: 1px solid red; */
        font-family: 'Abel', sans-serif;
        color: black;
        text-transform: uppercase;
        /* font-weight: bolder; */
        font-size: 14px;
    }

    .stamp {
        align-self: center;
        width: 80px;
        height: 80px;
        /* border: 1px solid blue;    */
    }

    .stamp>a>img {
        width: 80px;
        height: 80px;
        position: fixed;
        bottom: 30px;
        z-index: 1;
    }

    ul.optbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        padding: 0;
        height: 50px;
        /* border: 1px solid white; */
        background-color: #BAA079;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;

    }

    ul.optbar>li {
        list-style: none;
        border: 1px solid #d3b890;
        color: white;
        margin-left: -2px;

    }

    ul.optbar>li:hover {
        text-decoration: none;
        background-color: #9D7200;
        /* opacity: .8;  
        color: black; */
    }

    ul.optbar>li>a {
        text-decoration: none;
        color: white;
    }




    li.opt2 {
        margin-right: 1px;
        padding: 14px 1px 0 5px;
    }

    li.opt3 {
        margin-right: 1px;
        padding: 14px 1px 0 1px;
    }

    li.opt4 {
        margin-right: 1px;
        padding: 14px 1px 0 1px;
    }

    li.opt5 {

        padding: 14px 1px 0 1px;
    }


    li.opt1 {
        margin: 0;
        margin-right: 1px;
        padding: 14px 5px 15px 2px;
    }

    li.opt6 {
        margin: 0;
        margin-right: 1px;
        padding: 14px 2px 15px 2px;
    }




}

/* @media screen and (max-width: 384px) */
/* 手機螢2 */




/* 手機螢幕3 */
@media (max-width:342px) {

    nav {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        position: fixed;
        bottom: 0px;
        left: 0;
        right: 0px;
        border: 1px solid white;
        font-family: 'Abel', sans-serif;
        color: black;
        text-transform: uppercase;
        /* font-weight: bolder; */
        font-size: 13px;
    }

    .stamp {
        align-self: center;
        width: 80px;
        height: 80px;

    }

    .stamp>a>img {
        width: 80px;
        height: 80px;
        position: fixed;
        bottom: 30px;
        z-index: 1;
    }

    ul.optbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px;
        padding: 0;
        height: 50px;
        /* border: 1px solid yellow; */
        background-color: #BAA079;
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;

    }

    ul.optbar>li {
        list-style: none;
        border: 1px solid #d3b890;
        color: white;
        margin-left: -2px;
    }

    ul.optbar>li:hover {
        text-decoration: none;
        background-color: #9D7200;
        /* opacity: .8;  
        color: black; */
    }

    ul.optbar>li>a {
        text-decoration: none;
        color: white;
    }



    li.opt2 {

        padding: 14px 1px 0 3px;
        margin-right: 1px;
    }

    li.opt3 {

        padding: 14px 1px 0 1px;
        margin-right: 1px;
    }

    li.opt4 {

        padding: 14px 1px 0 1px;
        margin-right: 1px;
    }

    li.opt5 {

        padding: 14px 0px 0px 1px;

    }


    li.opt1 {

        margin: auto;
        padding: 14px 3px 15px 4px;
        margin-left: 0px !important;

        /* padding: 11px 0px 11px 0px; */
        /* padding: auto;
        bottom:  1px;
        margin-right: 0px; */
    }

    li.opt6 {

        margin: auto;
        padding: 14px 3px 15px 1px;
        margin-right: 0px !important;

    }




}

/* @media screen and (max-width: 342px) */
/* 手機螢3 */


/* nav在.vessel外,以上是電腦螢幕和手機螢幕 */